body {
    max-width: 1250px;
    margin: 0 auto;
    display: block;
    padding:0px;
    font-family: 'Oswald', sans-serif;
    background-color: #537fad
    
}

h1{
    text-align: center;
}



.form {
    background-color: rgb(68, 175, 112);
    position: relative;
    text-align: center;
    
    border:solid;
    padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #add4ff;
    font-family: 'Oswald', sans-serif;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: #171819;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.submit:hover {
    background-color: #ff0000;
    color: black
}

